<h2>Users Overview</h2>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Givenname</th>
      <th>Surname</th>    
      <th>Gender</th>
      <th>Age</th> 
      <th>Grade</th>
      <th>Organization</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Interest</th>
      <th>Programs</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.givenname %></td>
      <td><%= user.surname %></td>
      <td><%= user.age %></td>
      <td><%= user.grade %></td>
      <td><%= user.gender %></td>
      <td><%= user.organization %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.interest %></td>
      <td>
        <% user.programs.each do |program| %>
        <li><%= program.title %></li>
        <% end %>
      </td>
      <td><%= link_to 'Destroy', myprofile_url(user), method: 'delete', data: { confirm: "Do you really want to delete this user?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

