<h2>New User Sign Up</h2>


<%= form_tag(users_url, method: 'post') do %>

  <div>
    <%= label_tag :username %><br>
    <%= text_field_tag :username %>
  </div>

  <div>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>

  <br>

  <%= label_tag :givenname, "Given Name:" %>
  <%= text_field_tag(:givenname, "", size: 30, placeholder: "Enter your given name here...") %>
  
  <%= label_tag :surname, "Surname:" %>
  <%= text_field_tag :surname, "", size: 30, placeholder: "Enter your surname here..." %>
  <br>
  
  <%= label_tag :age, "Age:" %>
  <%= number_field_tag :age, "", size: 4 %>
  <br>  

  <%= label_tag :gender, "Gender:" %>
  <%= radio_button_tag(:gender, "male") %>
  <%= label_tag(:gender_male, "Male") %>
  <%= radio_button_tag(:gender, "female") %>
  <%= label_tag(:gender_female, "Female") %>
  </br>
  
  <%= label_tag :email, "Email:" %>
  <%= text_field_tag :email, "", size: 80, placeholder: "Enter your email address here..." %>
  <br>
  
  <%= label_tag :phone, "Phone #:" %>
  <%= text_field_tag :phone, "", size: 80, placeholder: "Enter your primary phone number here..." %>
  <br>

  <%= label_tag :organization, "Organization:" %>
  <%= text_field_tag :organization, "", size: 80, placeholder: "Enter your organization / company / school here..." %>
  <br>

  <%= label_tag :grade, "Grade (if applicable):" %>
  <%= number_field_tag :grade, "", size: 4 %>
  <br>

  <br>
    
  <%= label_tag :interest, "Please indicate your interest or background:" %>
  <br>
    <%= radio_button_tag(:interest, "student") %>
    <%= label_tag(:interest_student, "I am a student") %>
    <br>
    <%= radio_button_tag(:interest, "parent") %>
    <%= label_tag(:interest_parent, "I am a parent") %>
      <br>
    <%= radio_button_tag(:interest, "volunteer") %>
    <%= label_tag(:interest_volunteer, "I would like to volunteer") %>
      <br>
    <%= radio_button_tag(:interest, "sponsor") %>
    <%= label_tag(:interest_sponsor, "I would like to become a sponsor") %>
      <br>
    <%= radio_button_tag(:interest,"general") %>
    <%= label_tag(:interest_general, "I would like more general information") %>
      <br>
  <br>

  <div>
    <%= submit_tag "Create Profile" %>
  </div>

<% end %>
